@page "/CSharpTest7"


@using FrostSteelCorporation.CSharpTest.CSharpTest6;

@using System;
@using System.Collections.Generic;


<div class="IcySegoeWhite">Advanced C# Tut #2</div>

<div class="IcySegoeWhite">4/11/2022</div>
