@page "/CSharpTest2"

@using FrostSteelCorporation;
@using FrostSteelCorporation.CSharp;
@using System;
@using System.Drawing;
@using System.Drawing.Drawing2D;
@using System.Windows;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using System.Windows.Forms;






@for (var i = 1; i <= 1; i++)
{
    
         


    var RectangleShow = i;
    <button onclick="@showRect">ShowRect</button>
    
   
}




@code{



   ShowRect showRect = new ShowRect();









}

