@page "/Development"
@using System;
@using System.Drawing;
@using FrostSteelCorporation;
@using FrostSteelCorporation.NightmareEngine;
@using FrostSteelCorporation.NightmareEngine.Enums;
@using FrostSteelCorporation.NightmareEngine.Models;
@using System.Windows.Forms;

<p class="IcySegoeWhite">Hi!</p>
<p class="IcySegoeWhite">3/28/2022</p>
<p class="IcySegoeWhite">1. Made a Floaty menu bar that moves with page for easy access to menu!</p>
<p class="IcySegoeWhite">2. Fixed div tages for NavMenu</p>
<p class="IcySegoeWhite">3. Added Multi-Lingual Support.</p>
<p class="IcySegoeWhite">4. Changed Z-index of google translate not displaying correctly.</p>
<p class="IcySegoeWhite">5. Moved translate outside of Body on Host Z-index didnt remove the overlap.</p>
<p class="IcySegoeWhite">6. Added Home to Menu And Made Menu Bar non clickable except for DropDown Display.</p>
<p class="IcySegoeWhite">7. Adding google translate script caused things to malfunction all over drno why....</p>
<p class="IcySegoeWhite">8. So Everything Does Work But It takes A LONG TIME to load why?</p>
<p class="IcySegoeWhite">9. I never had this problem until recently even with test debug should load instantly HMMMSMSMS/???????</p>
<p class="IcySegoeWhite">10. something to do with tin can intranets........</p>
<p class="IcySegoeWhite">11. WHYYYYY DOES BLAZOR TAKE SO LONG TO LOAD WHY????</p>
<p class="IcySegoeWhite">12. Adjsuted position of menu with 5rem padding to look a bit better!(doesnt look right on mobile though)</p>
<p class="IcySegoeWhite">13. Everything else seems to be working fine and fast Except the Blazor c# code</p>
<p class="IcySegoeWhite">14. Adjusted top row and added border to menu</p>
<p class="IcySegoeWhite">15. The blazor loaded instantly this time so it must be Bill gates Fault Indubiously!</p>

<p class="IcySegoeWhite">Errors:</p>
<p class="IcySegoeWhite">1. Menu Bar doesnt float with page on Mobile.</p>
<p class="IcySegoeWhite">2. Animate Demo Doesnt display with Low Bandwidth I think otherwise some glitch with google translate script.</p>
<p class="IcySegoeWhite">Displays fine on mobile mroe then likely Tin Can internet!</p>
<p class="IcySegoeWhite">3. Welp i broke it all for some odd reason none of the blazor stuff works :0</p>
<p class="IcySegoeWhite">4. Google Translate bar is kinda ghey displays when it wants to....</p>
<p class="IcySegoeWhite">5. Through Science of Noob Deduction -> Main Error is Tin Can Intranets but i never had a slow Load time in debug until now</p>

<p class="IcySegoeWhite">4/3/2022</p>
<p class="IcySegoeWhite">1. Adjusted Top Layout.</p>
<p class="IcySegoeWhite">2. Added Flex for mobile!</p>


