@page "/Notes"
@using FrostSteelCorporation;






<div class="IcySegoeWhite">11/28/2021</div>

<div class="IcySegoeWhite">Having a empty()console.readykey in add example on Calculon creates a glitch in the site.</div>

<div class="IcySegoeWhite">4/10/2022</div>

<div class="IcySegoeWhite">1. Attempts at building blazor Galaga Changes made from netstandard2.1 to net6.0 removed most of the errors and updating nuget packages.</div>
<div class="IcySegoeWhite">Errors remaining with metadata and Howl.load</div>
