@page "/Resources"

<div class="IcySegoeWhite">This Website is in Development If any Resources are Required Please Email on Privacy Thanks!</div>

<div class="IcySegoeWhite">Aim to Head Nightmare for Icon</div>
<a class="IcySegoeWhite"href="https://github.com/">Github!</a>
<a class="IcySegoeWhite"href="https://docs.microsoft.com/en-us/">Microsoft Docs</a>
<a class="IcySegoeWhite"href="https://wallpapertops.com/walldb/original/7/a/0/672438.jpg">Hex grid Wallpaper</a>


<a class="IcySegoeWhite"href="https://drexel.edu/cms/media-library/insert-images/image-classes/#:~:text=How%20to%20Apply%20Classes%20to%20Images%20Upload%20the,the%20HTML%20Editor%2C%20locate%20the%20image%20source%20code.">Add image to Body Html</a>
<div class="IcySegoeWhite">Final Fantasy art made from scratch at Picture Reference</div>
<a class="IcySegoeWhite"href="https://www.bing.com/images/search?view=detailV2&ccid=KhtEERqv&id=79B1999EBA45D86B04C7A276D974DC8952728444&thid=OIP.KhtEERqvwCS8o52oykXTrwHaHa&mediaurl=https%3a%2f%2fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2ff%2fdc5e9c50-a07d-40fa-9e0d-9f5c7f4378f0%2fdb8l6ab-e137a10e-a718-41dd-ba0c-f4537e40d0b5.png%3ftoken%3deyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RjNWU5YzUwLWEwN2QtNDBmYS05ZTBkLTlmNWM3ZjQzNzhmMFwvZGI4bDZhYi1lMTM3YTEwZS1hNzE4LTQxZGQtYmEwYy1mNDUzN2U0MGQwYjUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._bYretKmnKmuxv7Zg-GkHck6YJJmoq5yRv9vChqqB8w&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.2a1b44111aafc024bca39da8ca45d3af%3frik%3dRIRyUoncdNl2og%26pid%3dImgRaw%26r%3d0&exph=640&expw=640&q=pixel+tree+images&simid=608020447078322242&FORM=IRPRST&ck=09F601D625B3B11F733F9DA22126EBD5&selectedIndex=22&ajaxhist=0&ajaxserp=0">bing tree art</a>
<a class="IcySegoeWhite"href="https://openclipart.org/detail/218087/pixel-pine-tree">Tree Pixel art</a>


<div class="IcySegoeWhite">3/28/2022</div>

<a class="IcySegoeWhite"href="https://www.w3schools.com/lib/w3schools30.css">w3 schools css for fixed menu position to float with scrolling!(top-nav)</a>

<a class="IcySegoeWhite"href="https://www.w3schools.com/howto/howto_google_translate.asp">Google Translate!</a>


<div class="IcySegoeWhite">4/12/2022</div>

<a class="IcySegoeWhite"href="">Blank Href</a>
<a class="IcySegoeWhite"href="">Blank Href</a>

<a class="IcySegoeWhite"href="">Blank Href</a>

<a class="IcySegoeWhite"href="">Blank Href</a>

<a class="IcySegoeWhite"href="">Blank Href</a>

<a class="IcySegoeWhite"href="">Blank Href</a>




